{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block body %}
<div class="container vh-100 d-flex align-items-center justify-content-center" style="max-width: 660px;">
    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Password reset complete</h4>
            </div>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a class="btn w-100 btn-primary" href="{% url 'sign_in' %}">Sign In</a>
        </div>
    </div>
</div>
{% endblock body %}