{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <article class="card card-body" style="max-width: 700px;">
        <div class="itemside align-items-center">
            <div class="info">
                <h3 class="m-3">Password Reset Instructions Email Sent</h3>
                <p class="m-3">
                    Dear User,<br>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've
                    entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </article>
</div>
{% endblock body %}